[submodule "lib/ahslib"]
	path = lib/ahslib
	url = https://raw.github.com/heavenlyhash-releases/ahslib-releases/master/v0.6.0a2.git
	mdm = dependency
[submodule "lib/slf4j"]
	path = lib/slf4j
	url = https://raw.github.com/heavenlyhash-releases/slf4j-releases/master/v1.6.6.git
	mdm = dependency
[submodule "lib/appletjsplugin"]
	path = lib/appletjsplugin
	url = https://raw.github.com/heavenlyhash-releases/java-appletjsplugin-releases/master/v1.6.0_30.git
	mdm = dependency
[submodule "releases"]
	path = releases
	url = https://github.com/heavenlyhash-releases/beard-releases.git
	mdm = releases
